@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

:root {
  --main-bg-color: rgb(219, 80, 74);
}

body {
  background: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

