
.header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  .logo {
    width: 100px;
  }

  .link {
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-align: right;
  }
}

.main-content {
  margin-top: 10%;
  text-align: center;
  .msg-box {
    border: 2px dashed rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    border-radius: 3px;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: white;
      font-size: 25px;
      font-weight: 300;
    }
  }

  .copy-text {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .white-btn {
    background: white;
    padding: 12px 20px;
    font-size: 22px;
    color: var(--main-bg-color);
    font-weight: 300;
    margin-top: 50px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    min-width: 40%;
    border: 0;
    &:active {
      box-shadow: inset 0px 0px 2px 0px #787878;
    }
  }

  .link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
  }
}


.footer {
  bottom: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  .left-content {
    text-align: center;
    .hd1 {
      color: white;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .foo-logo1 {
      margin-right: 10px;
    }
  }
  .right-content {
    @extend .left-content;
    .foo-social {
      width: 50px;
    }
  }
  .foo-logo,
  .foo-social {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .link.add-reason2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .add-reason {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .main-content {
    margin-top: 15%;
    .msg-box {
      max-width: 100%;
      display: flex;
      width: 85%;
      height: 80px;
      padding: 20px;
      span {
        font-size: 18px;
      }
    }
    .white-btn {
      font-size: 18px;
      margin-top: 30px;
    }
  }
  .footer {
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    width: 100%;
    left: 0;
    position: static;
    .left-content {
      .hd1 {
        font-size: 12px;
      }
    }
    .right-content {
      .foo-social {
        margin-right: 3px;
        width: 40px;
      }
    }
    .foo-logo {
      margin-right: 3px;
      width: 40px;
    }
  }
}

// animation
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
